.auth-container{
    padding: 70px 50px 130px 50px;
    display: block;
    justify-content: center;

    .auth-login{
        margin-bottom: 35px;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #FFFFFF;
        
    }
}

.alert{
 background-color: #EEC700;
 opacity: 1;
 margin-bottom: 30px;
}

.auth-invalid{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color:#f00;
    padding: 0px;
    margin: 0px;
}

.auth-content{
    margin-bottom: 30px;
}

.invalid{
    color: #f70606;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


input{
    background: #FEFEFE !important;
    color: #263238 !important;
 }


.auth-form{
    background: #FEFEFE;
    border: 1px solid #FEFEFE;
    box-sizing: border-box;
    border-radius: 4px;
    width: 390px;
    line-height: 22px;
    letter-spacing: -0.015em;
    height: 50px;

}
