.movie-container{
   padding:45px 140px 150px 140px;
   
}

.movie-card{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 10px 20px;
    justify-content: space-between;

}