.container-movie-home{
    width: 35%;
    height: 250px;
    margin-right: 4px;
    margin-bottom: 40px;
   
}

.content-movie-home{
    width: 100%;
    height: 100%;
}

.content-movie-home img{
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0px 0px;
}

.container-name-movie{
    width: 100%;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    padding: 5px;
    border-radius: 0px 0px 4px 4px;
}

.container-name-movie h3{
  font-size: 12px;
  color: #bcbcbc;
  font-weight: normal;
  text-transform: uppercase;
}

@media screen and (min-width:500px){
    .container-movie-home{
        margin-right: 7px;

       
    }
}

@media screen and (min-width:768px){
    .container-movie-home{
        margin-right: 10px;
       
    }   

    .container-name-movie h3{
        font-size: 16px;
    }

}


@media screen and (min-width:992px){
    .container-movie-home{
        margin-right: 15px;
        height: 200px;
       
    }    
}

@media screen and (min-width:1200px){
    .container-movie-home{
        margin-right: 20px;
        height: 250px;
       
    }
    
}
