.main-header{
    width: 1400px;
    height: 68px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    cursor: default;
    
    
}
   

.title-header{
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #000000;
    text-decoration: none;
    


}
