.main-header{
    width: 1349px;
    height: 68px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    cursor: default;
    justify-content: space-between;
    border-radius: 0px !important;
    
    
}

.container-exit{
    margin-right: 150px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    
    
}

.exit{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
    padding: 5px 30px;
}

.title-header{
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #000000;
    text-decoration: none;
    


}
