.container-login{
    width:100%;
    padding:40px 10px;
    border-radius:4px;
    text-align:center;
    background: #1c1c1c;
}

.container-login h1{
   font-weight: normal;
   font-size: 36px;
   line-height: 49px;
   text-align: center;
   letter-spacing: -0.015em;
   margin-bottom:20px
}

.form-login{
 text-align:start;
  
}

.form-login input{
    height:50px;
}

.form-login input:nth-child(2){
    margin-top:20px;
}

.form-login p{
    margin-top:5px;
    color:#2ccb69f2;
    font-size:15px;
}

.button-login{
    text-align:center;
    margin-top:30px;
}

.button-login button{
    height:50px;
    width:85%;
}

.button-login p{
    color: #bcbcbc;
    font-size:15px;
}

.button-login p span{
    color: #2ccb69f2;
    font-size:16px;
}

@media screen and (min-width:360px){
   .container-login{
      padding:60px 10px;
      
    }
    
   .button-login{
     margin-top:70px;
    }

}

@media screen and (min-width:390px){
    .container-login{
       padding:100px 10px;
        
    }

    .container-login h1{
        margin-bottom:60px
     }

     .form-login input:nth-child(2){
        margin-top:40px;
    }
       
     .button-login{
       margin-top:110px;
    }
   
}

@media screen and (min-width: 520px){
    .container-login{
        width:480px;
        padding:60px 20px;
      
    }

    .container-login h1{
        margin-bottom:20px
     }

    .login-error{
        margin-bottom:20px;
    }

    .button-login{
        margin-top:50px;
     }
}

@media screen and (min-width: 992px){
    .container-login{
        width:480px;
        padding:60px 20px;
      
    }

    .info-text-authorization svg{
        width:390px;
        height:350px;
      }

}

@media screen and (min-width: 1200px){
    .container-login{
        width:520px;
        padding:60px 20px;
      
    }

    .button-login button{
        width:65%;
    }

}