.form-filter-movie {
  display: flex;
  width: 90px;
}

.form-filter-movie button {
  background: none;
  color: #bcbcbc;
  padding: 0px;
}

.form-filter-movie input {
  width: 70px;
  background: none;
  border: none;
  color: #bcbcbc;
}

.form-filter-movie input::placeholder {
  color: #bcbcbc;
}

.conatiner-ul .svg-lupa svg {
  height: 25px;
  margin-bottom: 2px;
}

@media screen and (min-width: 360px) {
  .form-filter-movie input {
    width: 90px;
  }

}

@media screen and (min-width: 400px) {
    .form-filter-movie input {
      width: 100px;
    }
}

@media screen and (min-width: 500px) {
    .form-filter-movie input {
      width: 130px;
    }
}

@media screen and (min-width: 950px) {
    .form-filter-movie input {
      width: 160px;
    }
}