.movieDetails-container{
    padding:40px 150px 60px 135px;
    display: block;
    
}

.movieDetails-content{
    padding: 40px 40px 50px 40px;
    background: #6C6C6C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;

    .movie-image{
        width: 450px;
        height: 315px;
        
    }
}

.movieDetails-info{
   padding-left: 40px;
}

.movieDetails-title{
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.015em;
}

.movieDetails-year{
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #FFC700;
}

.movieDetails-subtitle{
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    padding-bottom: 15px;
}

.movieDetails-description{
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 10px;
    width: 500px;
    padding: 15px 20px 25px 20px;

    p{
        padding-top: 15px;
        font-size: 18px;
        line-height: 25px;
        text-align: justify;
        letter-spacing: -0.015em;
        color: #9E9E9E;
    }
}