.home-contanier{
    display: flex;
    justify-content: space-between;
    margin: 20px 150px 50px 100px;
   
}

.home-title{
    padding-top: 40px;


    h1{
        margin-bottom: 20px;
        font-size: 48px;
        line-height: 65px;
        letter-spacing: -0.015em;

    }

    p{
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: -0.015em;
        color: #F2F2F2;
        margin-bottom: 50px;
    }

}