.movie-content{
    padding: 26px 0px 35px 0px;
    background: #6C6C6C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top:40px;
    
}

.movie-image{
    width:100%;
    padding-bottom:10px;
}

.movie-inf{
   padding-left:13px;
}

.movie-title{
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.015em;
}

.movie-year{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #FFC700;
}

.movie-subtitle{
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}