.container-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pagination-arrow-right{
    transform: rotate(180deg);
    margin-right: -5px;
}

.container-button{
    margin: 0px 10px;
}

.container-button button{
   font-weight: 900;
   width: 25px;
   height: 30px;
   margin-left: 5px;
   border-radius: 50%;
   text-align: center;
   background: #bcbcbc;
   color: #1c1c1c;
   cursor: pointer;
}

.container-button .active-button{
   background: rgba(44, 203, 105, 0.95);
   color: #fff;
}

.active-arrow{
    color: rgba(44, 203, 105, 0.95);
    cursor: pointer;
}

.inactive-arrow{
    color: #bcbcbc;
    cursor: none;
    pointer-events: none;
}

@media screen and (min-width:350px){
    .pagination-arrow-right{
        margin-right: -10px;
    }

    .container-button{
        margin: 0px 15px;
    }

    .container-button button{
        width: 30px;
        height: 30px;
        margin-left: 10px;
     
     }
     
}