.container-register{
    width:100%;
    padding:40px 10px;
    border-radius:4px;
    text-align:center;
    background: #1c1c1c;
}

.container-register h1{
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.015em;
    margin-bottom:20px
 }

 .form-register input{
    height:50px;
    margin-top:20px;
}

.button-register{
   margin-top:30px;
}

.button-register button{
    height:50px;
    width:85%;
}

@media screen and (min-width:360px){
    .container-register{
       padding:50px 10px;
       
     }
     
    .button-register{
      margin-top:70px;
     }
 
}

@media screen and (min-width:390px){
    .container-register{
       padding:80px 10px;
        
    }

    .container-register h1{
        margin-bottom:60px
     }

     .form-register input{
        margin-top:30px;
    }
       
     .button-register{
       margin-top:110px;
    }
   
}

@media screen and (min-width: 520px){
    .container-register{
        width:480px;
        padding:60px 20px;
      
    }

    .container-register h1{
        margin-bottom:20px
     }

    .form-register input:nth-child(2){
        margin-top:20px;
    }

    .button-register{
        margin-top:50px;
     }
}

@media screen and (min-width: 992px){
    .container-register{
        width:480px;
        padding:60px 20px;
      
    }

}

@media screen and (min-width: 1200px){
    .container-register{
        width:520px;
        padding:60px 20px;
      
    }

    .button-register button{
        width:65%;
    }

}